<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76f99d">  <td>23/01/19 10:33:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PresentLogo.lauchbrowser()[pri:0, instance:com.testNG.PresentLogo@3d921e20]">&gt;&gt;lauchbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1160003871</td>   <td></td> </tr>
<tr bgcolor="76f99d">  <td>23/01/19 10:33:38</td>   <td>37344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PresentLogo.logoPrsent()[pri:0, instance:com.testNG.PresentLogo@3d921e20]">logoPrsent</td> 
  <td>main@1160003871</td>   <td></td> </tr>
<tr bgcolor="76f99d">  <td>23/01/19 10:33:38</td>   <td>37354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PresentLogo.text()[pri:0, instance:com.testNG.PresentLogo@3d921e20]">text</td> 
  <td>main@1160003871</td>   <td></td> </tr>
</table>
